<div class="col-md-8 blog-main">
  <h2><%= @blog.title %></h2>

  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Home", root_path%></li>
        <li class="breadcrumb-item"><%= link_to @blog.topic.title, topic_path(@blog.topic)%></li>     
        <li class="breadcrumb-item active" aria-current="page"><%= @blog.title %></li>

        <li class="ml-auto">
          <%= link_to fa_icon('pencil-square-o'), edit_blog_path(@blog) if logged_in?(:site_admin)  %>
        </li>
        &nbsp;&nbsp;
        <li>
            <%= link_to fa_icon('trash-o'), @blog, method: :delete, data: {confirm: 'Are you sure you want to delete this post'} if logged_in?(:site_admin)  %>
          </li>
 
        </ol>
      </nav>


  <p><%= @blog.topic.title %></p>
  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>
  <p>
    <%= markdown(@blog.body) %>
  </p>
  <%= render 'comments/comment_form' %>
  <div id='comments' data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>
</div>
