<div>
    <%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %>
</div>
<div>
    <%= portfolio_item.subtitle%>
</div>
<div>
    <%= portfolio_item.body%>
</div>
<div>
    <%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>
</div>

<%= link_to "Edit", edit_portfolio_path(portfolio_item) %> | 
<%= link_to "Delete", portfolio_item, method: "delete", data: { confirm: "Are you sure?"} %> 