<H1>Portfolio Items</H1>
  <div><%= link_to "Create New Portfolio", new_portfolio_path %></div>
<% @portfolio_items.each do |portfolio_item|%>
    <div>
        <%= link_to portfolio_item.title, portfolio_path(portfolio_item) %>
    </div>
    <div>
        <%= portfolio_item.subtitle%>
    </div>
    <div>
        <%= portfolio_item.body%>
    </div>
    <div>
        <%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>
    </div>

    <%= link_to "Edit", edit_portfolio_path(portfolio_item) %>
    <% end %>