<div class="container portfolio-container">
    <div class="row">
        <div class="col-md-7">
            <%= image_tag portfolio_img(@portfolio_item.main_image, 'main'), width: '100%' %>
        </div>
        <div class="col-md-5">
            <h2><%= @portfolio_item.title%></h2>
            <hr>
            <em><%= @portfolio_item.subtitle%></em>
            
            <%= @portfolio_item.body%>
            <hr>
            <h3>Technologies Used</h3>
            <% @portfolio_item.technologies.each do |t|%>
            <div><%= t.name %></div>
            <%end %>
         
          
        </div>
    </div>
</div>