<div class="container">
    <div class="row">
        <div class="col-md-7">
            <%= image_tag @portfolio_item.main_image unless @portfolio_item.main_image.nil? %>
        </div>
        <div class="col-md-5">
            <h2><%= @portfolio_item.title%></h2>
            <hr>
            <em><%= @portfolio_item.subtitle%></em>
            
            <%= @portfolio_item.body%>
            <hr>
            <h3>Technologies Used</h3>
            <% @portfolio_item.technologies.each do |t|%>
            <div><%= t.name %></div>
            <%end %>
            <hr>
            <%= link_to 'View All Portfolio Items', portfolios_path, class:"btn btn-primary btn-block" %>
        </div>
    </div>
</div>